<div>
    <center>
        <h1>Cart {{cart._id}}</h1>
        
         {{#each cart.products}}
            <p><strong> Id: </strong>{{this._id}} - <strong>Product: </strong>{{this.product.title}} - <strong>description: </strong>{{this.product.description}} - <strong>quantity: </strong>{{this.quantity}} </p>
        {{/each}}

        <form action="/api/carts/{{cart._id}}/purchase" method="post" class="form-group w-50">       
           
            <input class="btn btn-outline-dark mt-3 w-100" type="submit" value="Comprar carrito">
        </form>


    </center>
</div>
