<div>
        
        <header>
        <h1>Hi {{user.name}} your role is {{user.role}}.</h1>
        <h4>email: {{user.email}} </h4>
        </header>
{{#ifEquals user.role "PREMIUM"}}
    <a href="/realtimeproducts" class="button">Ir al administrador de productos</a><br>
{{/ifEquals}}

        <a type="button" href="/carts/{{user.cartId}}"  class="button" id="seeButton">See my cart</a>
        <br>

        <a href="/api/auth/logout" class="button">Logout</a><br>
        <h2>Products</h2>

      
       <h4>cartId: {{user.cartId}} </h4>
        {{#each products}}
            <p><strong> Id: </strong>{{this.id}} - <strong>Product: </strong>{{this.title}} - <strong>description: </strong>{{this.description}} - <strong>Price: </strong>{{this.price}} <button class="addToCart" data-id="{{this._id}}|{{../user.cartId}}">add to cart</button></p>
        {{/each}}
        {{#if hasPrevPage}}
            <a href="/products?pageQuery={{prevPage}}">Anterior</a>
        {{/if}}
        <label>{{page}}</label>
        {{#if hasNextPage}}
            <a href="/products?pageQuery={{nextPage}}">Siguiente</a>
        {{/if}}
        <br>
        <br>
        <br>


</div>


<script type="module" src="/js/addProductToCart.js"></script>