<div>
        
        <header>
        <h1>Hi {{user.name}} your role is {{user.role}}.</h1>
        <h4>email: {{user.email}} </h4>
        </header>


        <h2>Products</h2>
       <label for="productSelect">Select a cart:</label>

        <select id="selectCart" name="cart">
            {{#each carts}}
                <option value={{this._id}}>{{this._id}}</option>
            {{/each}}
        </select>

        <a type="button" href="/carts/12312" value="facebook" target="_blank" class="button" id="seeButton">see cart</a>

        {{#each products}}
            <p><strong> Id: </strong>{{this.id}} - <strong>Product: </strong>{{this.title}} - <strong>description: </strong>{{this.description}} - <strong>Price: </strong>{{this.price}} <button class="addToCart" data-id="{{this._id}}">add to cart</button></p>
        {{/each}}
        {{#if hasPrevPage}}
            <a href="/products?pageQuery={{prevPage}}">Anterior</a>
        {{/if}}
        <label>{{page}}</label>
        {{#if hasNextPage}}
            <a href="/products?pageQuery={{nextPage}}">Siguiente</a>
        {{/if}}
        <br>
        <br>
        <br>
        <a href="/logout" class="button">Logout</a>
</div>

<script type="module" src="/js/addProductToCart.js"></script>